@import "tailwindcss";

@layer components {
  .lottery-result-card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/banner/card-loto.webp');
  }
}

.daily-lottery-result-hero {
  /* default para telas maiores */
  margin-right: calc((100% - 1540px) / 2);
  
  @media (max-width: 1500px) {
      margin-right: calc((100% - 90%) / 2);
      /* centraliza similar à container */
  }
 
  @media (max-width: 1024px) {
      margin-right: 1%;
      /* equivalente a 98% de largura com 1% margem de cada lado */
  }
}

