@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme {
  /* ############# BREAKPOINTS ############# */

  --breakpoint-extra-small-device: 360px;

  /* ############# MAIN ############# */

  --width-main-content: calc(100vw - 240px);
  --height-main-content: calc(100vh - 102px);

  /* ############# COLORS ############# */

  --color-LT-RED-50: #d00018;
  --color-LT-RED-100: #b01816;
  --color-LT-RED-200: #951913;

  --color-LT-YELLOW: #ffbb00;
  --color-LT-YELLOW-400: #eab308;

  --color-LT-GRAY-100: #e9e9e9;
  --color-LT-GRAY-200: #b1b1b1;
  --color-LT-GRAY-300: #767676;

  /* ############# CARD STYLES ############# */

  --radius-card: 20px;

  --height-card: 135px;
  --width-card: 225px;

  --height-input-card: 158px;
  --width-input-card: 248px;

  --height-mobile-card: 115px;
  --width-mobile-card: 180px;

  --width-download-card-feed: 337.43px;
  --width-download-card-story: 274.84px;

  --height-download-card-feed: 421.4px;
  --height-download-card-story: 490.4px;

  /* ############# BUTTON ############# */
  --radius-button: 8px;
  --padding-button: 10px;

  /* ############# SHADOW ############# */
  --shadow-ghost-button: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

  /* ############# ANIMATIONS ############# */
  --animate-fade-in: fade-in 0.3s ease;
  --animate-modal-fade-in: modal-fade-in 0.3s ease-out;
  --animate-up-down: upDown 0.9s linear infinite;
  /* ############# KEYFRAMES ############# */

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(70px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes modal-fade-in {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes upDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

body {
  @apply bg-[#F7F8FA];
}

@font-face {
  font-family: "edoSz";
  src: url("/fonts/edosz.ttf") format("truetype");
}

@font-face {
  font-family: "Arial";
  src: url("/fonts/arial.ttf") format("truetype");
  font-weight: 400 900;
}

@font-face {
  font-family: "Arial-Medium";
  src: url("/fonts/arial-medium.ttf") format("truetype");
  font-weight: 800;
}

.arial {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.arial-medium {
  font-family: "Arial-Medium", sans-serif;
  font-weight: 700;                                                                    
}

.font-edoSz {
  font-family: "edoSz";
  font-size: 42px;
  color: #e6ce2e;
  transform: rotate(-9deg);
}

.font-edoSz-normal {
  font-family: "edoSz";
  color: #eab308;
}

.body-overflow-hidden {
  overflow: hidden;
}

.main {
  margin: 0 auto;
  padding-inline: 16px;

  @media (max-width: 768px) {
    padding-inline: 15px;
  }
}

.card-background {
  background-image: url("/results/card.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-result-feed-fezada {
  background-image: url("/results/background-2/FEZADA.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-result-feed-aqueceu {
  background-image: url("/results/background-2/AQUECEU.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-result-feed-kazola {
  background-image: url("/results/background-2/KAZOLA.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-result-feed-eskebra {
  background-image: url("/results/background-2/ESKEBRA.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-results-resume {
  background-image: url("/results/background-2/RESUMO.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-result-story {
  background-image: url("/results/background/bg-result-story.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-all-results-story {
  background-image: url("/results/background/bg-all-results-story.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

:root {
  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: #b01816;

  --destructive-foreground: #b01816;

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.87 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.87 0 0);
}

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.145 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.145 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.985 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.396 0.141 25.723);

  --destructive-foreground: oklch(0.637 0.237 25.331);

  --border: oklch(0.269 0 0);

  --input: oklch(0.269 0 0);

  --ring: oklch(0.439 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(0.269 0 0);

  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.tiptap {
  h1,
  h2,
  h3 {
    line-height: 1.1;
    text-wrap: pretty;
  }
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }

  a {
    color: #951913;
    text-decoration: underline;
    cursor: pointer;
  }
}
