@import "tailwindcss";

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: red;
  }

  &::-webkit-scrollbar-track {
    background-color: #d1d1d6;
  }
}
